.btn-header {
  border: none;
  background-color: #075968;
  color: rgb(161, 169, 175);
  cursor: pointer;
  margin-right: 0 !important;
}
.btn-home {
  border: none;
  background-color: #075968;
  color: aliceblue;
  margin-left: 15px;
  cursor: pointer;
}
.btn-header-opened {
  cursor: pointer;
  border: none;
  margin-left: 15px;
  background-color: #075968;
  color: #fb9038;
}
