.boxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  text-align: left;
}

.list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: aliceblue;
  text-align: center;
}
.list-box {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 30px 0;
  border-radius: 15px;
  background-color: #004d5c;
  color: aliceblue;
  width: fit-content;
  text-align: left;
}

.show {
  margin: 30px;
  max-width: max-content;
}
.show-box {
  display: flex;
  padding: 0 10px;
  margin: 8px 0;
  flex-direction: row;
}
.show-box:hover {
  background-color: #086474;
}

.poster {
  width: 200px;
  height: 300px;
}
.poster-box {
  width: 70px;
  height: 100px;
}
.poster-opened {
  width: 115px;
  height: 155px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px;
  gap: 10px;
  padding: 10px;
  max-width: 190px;
}
.open {
  max-width: fit-content;
}

.wrapper-closed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.wrapper-box {
  display: flex;
  flex-direction: row;
}

.opened-show-box {
  display: flex;
  flex-direction: column;
  background-color: #004d5c;
  color: aliceblue;
  padding: 30px;
  border-radius: 15px;
  width: 50%;
  height: fit-content;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  height: max-content;
  background-color: #075968;
  justify-content: space-between;
  gap: 10px;
  /* padding: 10px; */
  /* margin-bottom: 10px; */
  border-radius: 10px;
}
.hepl-me {
  display: inherit;
  flex-direction: row;
}
.main-info-wrapper {
  display: inherit;
  flex-direction: column;
  gap: 5px;
}
.rate-date-wr {
  display: inherit;
  flex-direction: row;
  gap: 10px;
  min-width: fit-content;
}

/* .header-btns-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
} */
.back-btn {
  position: absolute;
  margin: 5px;
  cursor: pointer;
  border: none;
  width: fit-content;
  background-color: transparent;
  color: aliceblue;
  z-index: 999;
}
.like-btn {
  display: inline-flex;
  height: fit-content;
  margin: 5px;
  cursor: pointer;
  border: none;
  /* z-index: 999; */
  background-color: transparent;
  /* left: 79.3%; */
}
.disabled {
  cursor: not-allowed;
  opacity: 60%;
}

.loader {
  text-transform: uppercase;
}

.error {
  color: #900000;
}

.text-info-wrap {
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 10px;
}
.plot {
  font-style: italic;
  text-align: justify;
  margin-top: 5px;
}
.tab {
  display: inline-block;
  margin-left: 2em;
}
