.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  padding: 10px;
  background-color: #075968;
  border-radius: 10px;
  margin: 15px auto;
}

.rating-wrapper {
  display: inherit;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  min-width: 278px;
  /* margin-bottom: 15px; */
}

.rating {
  margin-left: 10px;
  color: aliceblue;
}

.starts {
  display: flex;
  flex-direction: row;
}
.star {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  filter: invert(71%) sepia(30%) saturate(3339%) hue-rotate(333deg)
    brightness(100%) contrast(98%);
}

.watched-btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  max-width: 140px;
  padding: 6px;
  background-color: #fb9038;
}
.watched-btn:hover {
  background-color: #ea8634;
}
