.list-watched {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  flex-wrap: wrap;
  gap: 20px;
  color: aliceblue;
  padding: 20px 20px;
}

.watched-show {
  display: flex;
  width: 350px;
}

.poster-watched {
  width: 100px;
  height: 150px;
}

.remove-btn {
  cursor: pointer;
  display: flex;
  text-align: center;
  background-color: transparent;
  border: none;
  width: fit-content;
  align-items: center;
  color: rgb(215, 19, 19);
}
.btn-svg {
  margin-right: 5px;
}

.liked {
  position: absolute;
  z-index: 800;
  margin: 5px;
}
